@import "utils/mixins";

ngx-intl-tel-input {
    width: 100%;

    &.ng-touched.ng-invalid .tz-phone,
    &.ng-invalid .tz-phone:not(:placeholder-shown) {
        &:not(:focus) {
            outline-color: var(--color-primary-error);
            background-color: unset;
        }
    }

    &.disable-phone {
        .iti__flag-container,
        .tz-phone {
            pointer-events: none;
            background: var(--color-yellow-disabled);
            border-color: var(--color-yellow-disabled);
        }
    }

    .tz-phone {
        background-color: var(--color-light-footer-grey);
        border-color: var(--color-light-footer-grey);
        box-shadow: none;
        width: 100%;

        &:focus {
            border-color: var(--color-main-purple);
            background-color: unset;
        }
    }

    @include mobile {
        .tz-phone {
            height: 1.75rem;
            background-color: var(--color-primary-white);
            border: unset;
            padding-left: 4rem;
            border-radius: 0;
            border-bottom: 1px solid var(--color-border-mobile);

            &:focus {
                border-color: var(--color-border-mobile);
            }
        }

        .iti__flag-container {
            padding-left: 0.5rem;
        }

        &.ng-touched.ng-invalid .tz-phone,
        &.ng-invalid .tz-phone:not(:placeholder-shown) {
            &:not(:focus) {
                outline: unset;
                border-color: var(--color-primary-error);
            }
        }

        &.disable-phone {
            .iti__flag-container,
            .tz-phone {
                pointer-events: none;
                background-color: var(--color-primary-white);
                border-color: var(--color-border-mobile);
            }
        }
    }
}

.iti {
    width: 100%;

    &__flag-container {
        .iti__selected-flag {
            outline: transparent;
            border: 1px solid transparent;
            padding-right: 0.5rem;

            .iti__arrow {
                border: none;
                background: url(/assets/icons/web/img/icons/Arrow-Up.svg) no-repeat;
                width: 1rem;
                height: 0.5rem;
                margin-left: 0.625rem;

                @include mobile {
                    display: none;
                }
            }

            .selected-dial-code {
                margin-right: 6px;
            }

            &[aria-expanded="true"] {
                outline-color: var(--color-main-purple);
                border-color: var(--color-main-purple);

                .iti__arrow {
                    transform: rotate(180deg) translateX(0.25rem);
                }
            }
        }

        .iti__country-list {
            .iti__country {
                @include on-hover {
                    background-color: var(--color-main-purple);
                    color: var(--color-primary-white);

                    .iti__dial-code {
                        color: var(--color-primary-white);
                    }
                }
            }
        }
    }

    input[type="tel"] {
        padding-left: 3.5rem;
        padding-right: 2.25rem;

        @include mobile {
            padding-left: 2.75rem;
        }
    }


    .mob-profile-info-phone {
        height: 2.5rem;
        border: 1px solid var(--color-gray-light);
        border-radius: 0.25rem;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        font-size: 0.875rem;
    }
}
