@import "utils/mixins";

.tz-block-separator-title {
    margin: 1.25rem 0;
    &.no-bottom-margin{
        margin: 1.25rem 0 0;
    }

  @include mobile {
    margin: 0.5rem 0;
    background-color: var(--color-main-background-mobile);
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}
