@import "utils/mixins";

.trazler-snackbar {
  display: flex;
  min-height: 60px;
  background-color: var(--color-primary-white);
  border-radius: var(--app-border-radius);
  box-shadow: 0 4px 24px 0 rgb(0 0 0 / 24%);

  .mat-simple-snackbar {
    span {
        color: var(--color-main-text);

        @include mobile {
            color: var(--color-main-dark-purple);
        }
    }

    .mat-focus-indicator.mat-button.mat-button-base {
      color: #4A4A4A;
    }
  }

}
